<%= form_with(model: unidade, local: true) do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div>
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
