<%= form_with model: @setor, url: @setor.new_record? ? admin_setores_path : admin_setore_path(@setor), local: true, method: @setor.new_record? ? :post : :patch do |form| %>
  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :unidade_id, "Unidade" %>
    <%= form.collection_select :unidade_id, Unidade.all, :id, :nome, prompt: "Selecione a unidade" %>
  </div>

  <div>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Voltar", admin_setores_path %>
