<h1 class="text-center my-4">Lista de Visitas</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Visitante</th>
      <th>Setor</th>
      <th>Funcionário</th>
      <th>Data Entrada</th>
      <th>Data Saída</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @visitas.each do |visita| %>
      <tr>
        <td><%= visita.visitante.nome %></td>
        <td><%= visita.setor.nome %></td>
        <td><%= visita.funcionario&.nome || 'Não informado' %></td>
        <td><%= visita.data_hora_entrada %></td>
        <td><%= visita.data_hora_saida || 'Ainda em andamento' %></td>
        <td class="text-center">
          <%= link_to 'Ver', visita_path(visita), class: "btn btn-primary btn-sm" %>
          <%= button_to 'Excluir', visita_path(visita), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between mt-4">
  <%= link_to 'Nova Visita', new_visita_path, class: "btn btn-success" %>
  <%= link_to 'Voltar para Dashboard', atendente_dashboard_path, class: "btn btn-secondary" %>
</div>

