<h1>Lista de Visitantes</h1>

<table>
  <thead>
    <tr>
      <th>CPF</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @visitantes.each do |visitante| %>
     <tr>
        <td><%= visitante.cpf %></td>
        <td><%= visitante.nome %></td>
        <td><%= visitante.telefone %></td>
      
        <% if current_user.administrador? || (current_user.atendente? && visitante.unidade_id == current_user.unidade_id) %>
          <td>
            <%= link_to "Editar", edit_visitante_path(visitante) %>
            <%= button_to "Excluir", visitante_path(visitante), method: :delete, data: { confirm: "Tem certeza?" } %>
          </td>
        <% else %>
          <td>Sem permissão</td>
        <% end %>
     </tr>
   <% end %>
  </tbody>
</table>

<%= link_to 'Novo Visitante', new_visitante_path %>
<br>
<br>
<%= link_to 'Voltar para Dashboard', atendente_dashboard_path, class: 'btn btn-secondary' %>

