<h1>Detalhes do Visitante</h1>

<p><strong>CPF:</strong> <%= @visitante.cpf %></p>
<p><strong>Nome:</strong> <%= @visitante.nome %></p>
<p><strong>RG:</strong> <%= @visitante.rg %></p>
<p><strong>Telefone:</strong> <%= @visitante.telefone %></p>

<% if @visitante.foto.present? %>
  <%= image_tag @visitante.foto.url, class: "visitante-foto" %>
<% else %>
  <p>Sem foto cadastrada</p>
<% end %>

<%= link_to 'Editar', edit_visitante_path(@visitante) %> |
<%= link_to 'Voltar', visitantes_path %>
