<h1 class="mb-4 text-center">Dashboard do Funcionário</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Visitante</th>
      <th>Setor</th>
      <th>Data Entrada</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @visitas.each do |visita| %>
      <tr>
        <td><%= visita.visitante.nome %></td>
        <td><%= visita.setor.nome %></td>
        <td><%= visita.data_hora_entrada %></td>
        <td class="text-center">
          <%= button_to "Finalizar Visita", finalizar_visita_path(visita), method: :patch, 
                class: "btn btn-warning btn-sm",
                data: { confirm: "Tem certeza que deseja finalizar esta visita?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between mt-4">
  <%= button_to "Sair", destroy_user_session_path, method: :delete, 
        class: "btn btn-danger" %>
</div>

